<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <form class="form-narrow form-horizontal" method="post" action="stepTwo.html" th:action="@{/validationgroups/stepOne}" th:object="${account}">
        <!--/* Show general error message when form contains errors */-->
        <th:block th:if="${#fields.hasErrors('${account.*}')}">
            <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Error</li>
            </ul>
        </th:block>
        <fieldset>
            <legend>Create Account - Step 1</legend>
            <!-- Bidder -->
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                <label for="username" class="col-lg-4 control-label">Username</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="username" th:field="*{username}" />
                    <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect</span>
                </div>
            </div>
            <!-- Expires -->
            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                <label for="email" class="col-lg-4 control-label">Email</label>
                <div class="col-lg-8">
                    <input type="email" class="form-control" id="email" th:field="*{email}" />
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-4 col-lg-8">
                    <button id="create" type="submit" class="btn btn-default">Got to step 2</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>
</body>
</html>